nav {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-image: url(../Images/leaf-1498985_1920.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 4in;
    background-size: cover;
    font-family: 'IBM Plex Sans', sans-serif;
} 

h1 {
    padding-top: 2in;
    font-size: .98in;
    color: #E6F8D6;
    text-align: center;
    background-blend-mode: color-burn;
    font-weight: bolder;
}

h2 {
    font-size: .4in;
    color:#E6F8D6;
    text-align: center;
    background-blend-mode: color-burn;
    font-weight: bolder;
    padding-bottom: 1in;
}

.aboutMe {
    padding-top: 3in;
    padding-bottom: 3in;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.juice {
    background: lightgreen;
    padding: .2in;
}

form {
    text-align: center;
    padding-bottom: .2in;
}
h3 {
    font-size: .4in;
}

p {
    padding: .25in;
}
.row {
       position:relative;
       padding: ,75in;
}

.skills {
    width: 90%;
}
.skills2 {
    width: 90%;
}
    

#footer {
    position:fixed;
      background-color: darkgreen;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      color:white;
      text-align: center;
}